@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root{
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --light-Grayish-Magenta: hsl(300, 24%, 96%);
    --white:hsl(0, 0%, 100%);
    --m-font-size:15px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Spartan', sans-serif;
}
img{
    max-width: 100%;
}
section.main{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    position: relative;
}
 section.main::before{
    content: '';
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
} 
section.main::after{
    content: '';
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} 
.container{
    display: grid;
    grid-template-rows:repeat(2,1fr) ;
    gap: 40px;
    max-width: 1064px;
    position: relative;
    z-index: 1;
}
.user-rates{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 14px;
}
.user-rates .product .m-header{
    font-size: 3em;
    color: var(--very-dark-magenta);
    margin-bottom: 15px;
}
.user-rates .product .info{
    color:var(--Dark-Grayish-Magenta);
    font-size: var(--m-font-size);
    font-weight: 500;
}
.user-rates .rates{
    display: grid;
    gap: 15px;
    justify-content: flex-end;
    align-content: space-around;
}
.user-rates .rates .rate-content{
    display: grid;
    grid-template-columns: .6fr 1fr;
    padding: 15px 10px;
    justify-content: space-between;
    background-color: var(--light-Grayish-Magenta);
    border-radius: 8px;
}
.user-rates .rates .rate-content:nth-child(1){
    transform:translateX(-80px);
}
.user-rates .rates .rate-content:nth-child(2){
    transform:translateX(-40px);
}
.user-rates .rates .icons{
    display: flex;
    gap: 10px;
}
.user-rates .rates .rate-content .text{
    color: var(--very-dark-magenta);
    font-weight: bold;
    font-size: 17px;
}
.comments{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.comments .card{
    background-color: var(--very-dark-magenta);
    color: var(--white);
    border-radius: 12px;
    padding: 0 29px;
    display: grid;
    align-content: center;
}
.comments .card:nth-child(2){
    transform: translateY(15px);
}
.comments .card:nth-child(3){
    transform: translateY(30px);
}
.comments .head{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    margin-bottom: 20px;
}
.comments .head .status{
    color:hsl(333deg 80% 67% / 58%);
}
.comments .head img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comments .card .info{
    font-size: var(--m-font-size);
    line-height: 1.6;
}

@media(max-width:675px){
    .container{
        padding: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .user-rates{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .user-rates .product .m-header{
        text-align: center;
        font-size: 35px;
    }
    .user-rates .product .info{
        text-align: center;
    }
    .user-rates .rates{
        justify-content: stretch;
    }
    .user-rates .rates .rate-content{
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }
    .user-rates .rates .rate-content .text{
        font-size: 14px;
    }
    .user-rates .rate-content .icons{
        gap: 3px;
    }
    .rate-content .icons img{
        width: 15px;
        height: 15px;
    }
    .comments{
        grid-template-columns: 1fr;
    }
    .comments .card{
        padding: 30px;
    }
    .comments .card h4{
        font-size: 16px;
    }
    .comments .card .info {
        font-size: 14px;
    }
    /* the moved elements */
    .user-rates .rates .rate-content:nth-child(1){
        transform:translateX(0);
    }
    .user-rates .rates .rate-content:nth-child(2){
        transform:translateX(0);
    }
    .comments .card:nth-child(2){
        transform: translateY(0);
    }
    .comments .card:nth-child(3){
        transform: translateY(0);
    }
}